@model IEnumerable<FranchiseManagerTest.Models.Feature>

@{
    ViewBag.Title = "Index";
}


<div class="pull-left">
    <h2>Welcome to the Features page Admin!</h2>
</div>


<div class="pull-right">
    <p>
        <a href="/Feature/Create" class="btn btn-large btn-primary">
            <i class="icon-plus icon-white"></i>               
            Create New Feature
        </a>    
    </p>
</div>




<br /><br />


<table class="table">
    <tr>        
        <th>
            Feature Name
        </th>
        <th>
            Franchise Sets Assigned To
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>        
        <td>
			@item.FeatureName
        </td>
        <td>
			@(item.FranchiseSets == null ? "None" : item.FranchiseSets.Count.ToString())
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.FeatureID }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Details", "Details", new { id = item.FeatureID }, new { @class = "btn" })
            @Html.ActionLink("Delete", "Delete", new { id = item.FeatureID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
@{
    FranchiseManagerTest.Models.FranchiseManagerContext context = new FranchiseManagerTest.Models.FranchiseManagerContext();
	
    var features = context.Features;
    
    if (!features.Any())
	{ 
			<div class="well">
				<h3>There are no features.  Would you like to add one?</h3>
				<a class="btn btn-large btn-primary pull-left" href="/Feature/Create" >
					<i class="icon-plus icon-white"></i>
					Yes!  I'd like to create my first feature!
				</a><br /><br />
			</div>
	}                
					
}


