@model FranchiseManagerTest.Models.FranchiseSet

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    Franchise Set Name
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.FranchiseSetName)
    @Html.ValidationMessageFor(model => model.FranchiseSetName)
</div>

<div class="editor-label">
    Main Address
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.MainAddress)
    @Html.ValidationMessageFor(model => model.MainAddress)
</div>

<div class="editor-label">
    Time Zone
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.TimeZone)
    @Html.ValidationMessageFor(model => model.TimeZone)
</div>

