@model FranchiseManagerTest.Models.FranchiseSet

@{
    ViewBag.Title = "Delete";
}

<h2>About to Delete a Franchise Set</h2>

<h3>Man, are you sure you want to delete @Model.FranchiseSetName?</h3>



<div class="well">
<fieldset>    
    <h5>Just so you understand, you are about to kill off an entire Franchise Set that contains:</h5>
    <br />
    
    <label class="delete-labels pull-left">Franchise Set Name</label>
    <label class="delete-labels offset2">@Model.FranchiseSetName</label>
   

    <label class="delete-labels pull-left"># of Franchises</label>
    <label class="delete-labels offset2">@Model.Franchises.Count()</label>

    <label class="delete-labels pull-left"># of Users</label>
    <label class="delete-labels offset2">@Model.Users.Count()</label>

    <label class="delete-labels pull-left"># of Active Features</label>
    <label class="delete-labels offset2">@Model.Features.Count()</label>  

    
    
</fieldset>

<br /><br />
<h3>Deleting all of this data is irreversible.  Choose wisely Grasshopper.</h3>


</div>
@using (Html.BeginForm()) {
    <div>
        <a href="/FranchiseSet" class="btn btn-large">Cancel & Get me outta here!</a>

         <button type="submit" class="btn btn-large btn-danger" >
            <i class="icon-trash icon-white"></i>
            Delete @Model.FranchiseSetName
        </button>

        <br /><br />
        <div class="pull-left">
            <img src="../../Content/img/gray_arrow_small2.png" />
            <p class="cursive-font">My humble reccommendation.</p>
        </div>
       

       
    </div>
}


