@model FranchiseManagerTest.Models.Franchise

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    Franchise Name
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.FranchiseName)
    @Html.ValidationMessageFor(model => model.FranchiseName)
</div>

<div class="editor-label">
    Franchise Number
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.FranchiseNumber)
    @Html.ValidationMessageFor(model => model.FranchiseNumber)
</div>

@*<div class="editor-label">
    FranchiseSet
</div>*@
<div class="editor-field">
    @Html.DropDownListFor(model => model.FranchiseSetId, ((IEnumerable<FranchiseManagerTest.Models.FranchiseSet>)ViewBag.PossibleFranchiseSets).Select(option => new SelectListItem {
        Text = Html.DisplayTextFor(_ => option).ToString(), 
        Value = option.FranchiseSetID.ToString(),
        Selected = (Model != null) && (option.FranchiseSetID == Model.FranchiseSetId)
}), "Choose...", new { style = "display:none;" })
    @Html.ValidationMessageFor(model => model.FranchiseSetId)
</div>
