@model IEnumerable<FranchiseManagerTest.Models.Franchise>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            FranchiseName
        </th>
        <th>
            FranchiseNumber
        </th>
        <th>
            FranchiseSet
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FranchiseID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FranchiseID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FranchiseID })
        </td>
        <td>
			@item.FranchiseName
        </td>
        <td>
			@item.FranchiseNumber
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.FranchiseSet).ToString()
        </td>
    </tr>
}

</table>


